
.vs/ProjectEvaluation/

.vs/WebsiteCarbon-NET/DesignTimeBuild/

.vs/WebsiteCarbon-NET/FileContentIndex/

.vs/WebsiteCarbon-NET/v17/

WebsiteCarbon-NET.Tests/bin/Debug/net6.0/

WebsiteCarbon-NET/obj/

WebsiteCarbon-NET.Tests/obj/Debug/net6.0/

WebsiteCarbon-NET.Tests/obj/

WebsiteCarbon-NET/bin/Debug/net6.0/
